# Block common file extensions
*.exe
*.doc
*.docx
*.gdoc
Week_11-16/pro-01-cdk/exp.pem
Week_11-16/pro-01-cdk/private-key.pem
.gitignore
.gitignore
Week_11-16/pro-01-cdk/pro_01_cdk/pro_01_cdk_stack - Copy.py
Week_11-16/pro-01-cdk/pro_01_cdk/config07.py
Week_11-16/pro-01-cdk/pro_01_cdk/pro_01_cdk_stack - Copy05.py
Week_11-16/pro-01-cdk/pro_01_cdk/pro_01_cdk_stack - Copy007.py
Week_11-16/pro-01-cdk/pro_01_cdk/pro_01_cdk_stack_25062023.py
Week_11-16/pro-01-cdk/pro_01_cdk/pro_01_cdk_stack - Copy07.py
